<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <h2>Kapitel</h2>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-content>
    <ion-item shape="round" lines="none" detail="false" *ngFor="let chapter of chapter" href='chapter/{{ chapter.id }}'>
      <ion-label>
        {{ chapter.title }}
      </ion-label>
    </ion-item>
  </ion-card-content>
  </ion-card>
  </ion-list>
</ion-content>
