ion-toolbar{
  --background: #008080;

  h2{
    color: #fff;
    font-size: 26px;
    font-weight: 700;
  }
}

ion-item{
  margin-top: 20px;
}

ion-list{
  background-color: #fff;
}

ion-card{
  background-color: #fff;
}

ion-item::part(native) {
  background: #008080;
  color: #fff;

  border-color: #fff;
  border-width: 2px;

  border-radius: 20px;
}

ion-select-option{
  color: #fff;
}

#cardTitle{
  background-color: #008080;
  border-radius: 100px;
}

#cardTitleText{
  color: #fff;
}

.my-checkbox {
  display: flex;
  align-items: center;
}

#buttonBack
{
  background: #008080;
}

#iconBack{
  color: #fff;
}
