<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button fill="clear" id="buttonBack" href="chapter">
            <ion-icon size="large" id="iconBack" name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <h2>Exportieren</h2>
          </div>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="createPdf()" [formGroup]="myForm"></form>
  <ion-button shape="round" expand="full"(click)="createPdf()"  type="submit" color="primary">PDF erstellen</ion-button >
  <ion-button shape="round" expand="full" (click)="downloadPdf()" [disabled]= "!pdfObj" color="primary">PDF herunterladen</ion-button >


</ion-content>






