<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button fill="clear" id="buttonBack" href="chapter">
            <ion-icon size="large" id="iconBack" name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <h2>Export</h2>
          </div>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full"  type="submit">Create PDF</ion-button >
  <ion-button expand="full" (click)="downloadPdf()" color="secondary" [disabled]= "!pdfObj">Save PDF</ion-button >


</ion-content>






