<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button fill="clear" id="buttonBack" (click)="enterChapter()">
            <ion-icon size="large" id="iconBack" name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <h2>Profil</h2>
          </div>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img id="profilePic" src="assets/icon/profile.webp" class="center">
    <h2 class="center">Benutzername: Werk_1</h2>
    <h2 class="center">E-Mail: Werk.1@ksb-sg.ch</h2>
    <h2 class="center">Passwort: ********</h2>
  </div>
</ion-content>
