<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button fill="clear" id="buttonBack" (click)="enterChapter()">
            <ion-icon size="large" id="iconBack" name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <h2>Übersicht</h2>
          </div>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-content>
    <ion-item shape="round" lines="none" detail="false" *ngFor="let regulation of regulation" [routerLink]="['./', regulation.id]">
      <ion-label>
        {{ regulation.text }}
      </ion-label>
    </ion-item>
  </ion-card-content>
  </ion-card>
  </ion-list>
  <ion-item button shape="round" lines="none" detail="false" id="enterEditButton" (click)="enterExport()">
    <ion-label>
      PDF exprotieren
    </ion-label>
  </ion-item>
</ion-content>
