ion-toolbar{
  --background: #008080;

  h2{
    color: #fff;
    font-size: 26px;
    font-weight: 700;
  }
}

#enterEditButton{
  margin-left: 30px;
  margin-right: 30px;
}


ion-item{
  margin-top: 20px;
}

ion-list{
  background-color: #fff;
}

ion-card{
  background-color: #fff;
}

ion-item::part(native) {
  background: #008080;
  color: #fff;

  border-color: #fff;
  border-width: 2px;

  border-radius: 20px;
}

#iconProfil{
  color: #fff;
}

#buttonBack
{
  background: #008080;
}

#iconBack{
  color: #fff;
}
