<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <h2>Swag</h2>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


    <form ( ngSubmit ) = " createPdf ( ) " [formGroup]= " myForm " >
      <ion-item>
        <ion-label> Include Logo image ? </ion-label>
        <ion-checkbox formControlName="showLogo" slot= "start"> </ion-checkbox >
      </ion-item >
      <ion-item >
        <ion-label position = " stacked " > From </ion-label >
        <ion-input formControlName = " from " > </ion-input >
      </ion-item >
      <ion-item>
        <ion-label position = " stacked " > To </ion-label >
        <ion-input - input formControlName = " to " > </ion-input >
      </ion-item >
      <ion-item >
        <ion-label - label position = " stacked " > Text </ion-label >
        <ion-textarea formControlName = " text " rows = " 3 " ></ion-textarea >
        </ion-item >
      <ion-button expand = " full " type = " submit " > Create PDF </ion-button >
    </form>

  <!-- <img [src]="photoPreview" *ngIf="photoPreview">-->

 <!-- <ion-button expand = " full " ( click ) = " takePicture ( ) " >Add Picture</ion-button >
 -->
 <ion-button expand = " full " ( click ) = " download Pdf ( ) " color = " secondary " [ disabled ] = " ! pdf0bj " > Save PDF </ion-button >

</ion-content>
